.jumbotron {
	background-color: purple;
	color: white;	
	margin-top: 50px;
}

footer {
	padding: 10px 10px 0px 10px;
	background-color: purple;
	color: white;
	margin-bottom: 0px;
	margin-top: 10px;
}
.card-clini{
	flex: 1 200px;

}

.btn-consulta{
	width: 100%;
	border-radius: 0px; 
}

.footer-address-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}