$purple: #dc5ced;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color: $purple;
	color: white;	
	@include margenes(50px, 0px);
}

footer {
	padding: 10px 10px 0px 10px;
	background-color: $purple;
	color: white;
	@include margenes(10px, 0px);
}
.card-clini{
	flex: 1 200px;
	@include margenes(10px, 0px);

}

.btn-consulta{
	width: 100%;
	border-radius: 0px; 
}

.footer-address-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}