.jumbotron {
  background-color: #70d4b2;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0px 10px;
  background-color: #70d4b2;
  color: white;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-clini {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-consulta {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
